img {
    border-radius: 1px;
    padding: 0px;
    height: 20vw;    
}

.dropdown-menu {
    margin-right: 55%;
}

.botonesdelnavbar {
    margin-right: 5%;
    margin-bottom: 5%;
}

.navbar-brand {
    margin-left: 5%;
    padding-bottom: 4%;
}

label {
   float: left;
}

.iconsofmodal {
    display: flex;
    float: left;
    justify-content: space-between;
 }

 .camera {
    margin-right: 7px;
 }

 .headercards {
    flex-direction: row;
 }

 .likes {
    text-align: left;
    justify-content: space-between;
 }

 h5 {
    float:left;
    padding-bottom: 0%;
}

h7 {
    float:right;
    color: black;
    font-weight: normal;
}


    